.active {color: darkred;}

.nav {
    grid-area: n;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.item {
   color: white;
}

a.active {
    color: green;
}

.item:hover {
    text-decoration: underline !important;
    color: red;
}