.dialogs_content {
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
}

.item {
    color: blue;
    display: flex;
    flex-direction: column;
}

.item img {
    height: 40px;
}

.dialogsColumnNames {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.dialogsColumnMessages {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.dialogMessageColumn {
    display: flex;
    flex-direction: column;
}

.avaAndName {

}






.message {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;

}

.imageAndText {
    display: flex;
    flex-direction: row;
    order:0;
    align-items: end;
    background-color: lightyellow;
}

.imageAndText img {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: end;
    background-color: lightyellow;
}

.text {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: blue;
    border-radius: 25px;
    /*upside*/
    padding: 5px;
}

.text:after {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
}

.name {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    /*for round corners*/
    border-radius: 25px;
}

.messageText {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    background-color: blue;
    border-radius: 25px;
    /*downside*/
    padding: 5px;
}

.time {
    align-items: end;
    text-align: left;
    font-size: 10px;
    color: black;
    background-color: lightyellow;
}