.dialogs_content {
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
}

.item {
    color: blue;
    display: flex;
    flex-direction: column;
}

.item img {
    height: 40px;
}

.dialogsColumnNames {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.dialogsColumnMessages {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dialogMessageColumn {
    display: flex;
    flex-direction: column;
}

.avaAndName.active {
    color: green;
}

.avaAndName:hover {
    text-decoration: underline !important;
    color: red;
}

.avaAndMessage {
    display: flex;
    flex-direction: row
}

.avaAndMessage.active {
    color: green;
}

.avaAndMessage img {
    height: 20px;
    width: 20px;
    border-radius: 30px;
}



